/*document css de l'index de l'accueil avec l'affichage des différentes formations */

/*Le fond de la page*/
#container {
    background: rgb(56, 56, 54)
}

/*La "bannière" de l'accueil*/
#banner{
    display: flex;
}

.centrer {
    margin-left: auto;
    margin-right: auto;
}

#logout {
    margin : 21px 10px;
}


/*Le logo de la maison des ligues*/
#logo {
    width: 220px; /* il est préférable de calculer cette valeur en % pour qu'il s'adapte*/
	height:158px;
	margin:20px 15px;
}
/*L'espace du titre*/
#titre {
    width:50%;
    height: 150px;
	background-color:rgb(36, 98, 212);
	text-align: center;
	color:#fff;
    margin: auto auto;	
    border: solid;
}

#tableauFormation {
    width: 85%; /* il est préférable de calculer cette valeur en % pour qu'il s'adapte*/
	height:800px;
	margin:20px auto;
	border: solid #fff 1px;
	background-color:rgb(184, 182, 175);
}

#formations {
    margin : 20px 20px;
    display: flex;
}

#divPrint {
    display : flex;
    flex-direction: column;
}

#print {
    margin : 10px 10px;
}
