/*document css de l'index de l'accueil avec l'affichage des différentes formations */

/*Le fond de la page*/
body {
    background-color: rgb(67, 70, 64) !important;
}

h1 {
    margin-top: 10%;
}

.espace {
    padding: 5px;
}

#container {
    font-family: 20px Montserrat, sans-serif;
    font-size: 19px;
}

/*La "bannière" de l'accueil*/
#banner{
    display: flex;
}

#logo {
    margin : 0.7% 0.7%;
}

.button {
    border: 1.4px solid rgb(138, 138, 138);
    background-color: rgb(26, 27, 27);
    color : rgb(146, 146, 146);
}

.arrondis {
    border: 2px solid;
    border-radius: 25px;
}

.centrer {
    margin-left: auto;
    margin-right: auto;
}

.logout {
    margin : 21px 10px;
}

.list-group {
    width: 100%;
}

/*L'espace du titre*/
#titre {
    background-image: linear-gradient(60deg, rgb(29, 50, 59), rgb(47, 102, 219),rgb(29, 50, 59));
    border-radius: 100px;
    width: 60%;
    height: 150px;
	/*background-color:rgb(40, 93, 136);*/
	text-align: center;
	color:rgb(8, 10, 19);
    margin: auto auto;	
    border: solid;
}

#tableauFormation {
    width: 85%; /* il est préférable de calculer cette valeur en % pour qu'il s'adapte*/
	height:800px;
	margin:20px auto;
	border: solid #fff 1px;
	/*background-color:rgb(184, 182, 175);*/
}

#formations {
    margin : 20px 20px;
    display: flex;
}

#print {
    width: 10%;
}

#decalage {
    margin : 0px 65px;
}
